#header {
    text-align: center;
}

#grid-container {
    display: grid;
}

#left {
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: left;
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 10px;
}

#center {
    grid-row-start: 1;
    grid-row-end: 4;
    display: block;
    text-align: center;
    height: 150px;
    width: 150px;
    margin: 5px;
}

#right {
    grid-row-start: 1;
    grid-row-end: 4;
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
}