#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: #000000;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: 487.059132518531px;
  min-height: 115.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 {
  position: absolute;
  width: 375.30272695913186px;
  min-height: 32.96449538719605px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 70.65327607741642px;
  min-height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_37 {
  position: absolute;
  width: 144.9739843945688px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 142.64840392521978px;
  min-height: 140.30466789524178px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_39 {
  position: absolute;
  width: 152.07032109110656px;
  min-height: 36.44277088188096px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_39 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 {
  position: absolute;
  width: 142.64840392521967px;
  min-height: 140.30466789524166px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 160.25287104165466px;
  min-height: 157.76858564369525px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 97.05897179527591px;
  height: 101.80022169758526px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 {
  position: absolute;
  width: 194.86545510706765px;
  min-height: 68.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 {
  position: absolute;
  width: 250.23535156249966px;
  min-height: 45.72580645161304px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 {
  position: absolute;
  width: 142.64840392521978px;
  min-height: 140.30466789524183px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 60.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_17 {
  position: absolute;
  width: 144.97398439456884px;
  min-height: 72.88554176376196px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 table td > .option:not(:last-child) {
  margin-bottom: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 .option.selected {
  background-color: #666666 !important;
  color: #000000 !important;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 td {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 {
  position: absolute;
  width: 335.03343620685496px;
  height: 145.08661417322844px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #434343;
  text-align: right;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_1 .option {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 8px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_19 {
  position: absolute;
  width: 335.09023207977646px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  position: absolute;
  width: 335.10852050781307px;
  height: 38.9459533691404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 table td > .option:not(:last-child) {
  margin-bottom: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 .option.selected {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 td {
  vertical-align: bottom;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 {
  position: absolute;
  width: 335.0242919928371px;
  height: 141.4796061884669px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 > .borderLayer {
  border-top-width: 5.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 5.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 5.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 5.0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Category_2 .option {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 8px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  position: absolute;
  width: 335.10852050781307px;
  height: 38.9459533691404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 {
  position: absolute;
  width: 335.09023207977646px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  width: 394.9999999999999px;
  height: 288.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 {
  position: absolute;
  width: 96.00000000000023px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DIN Alternate',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 16.5px;
  border-top-right-radius: 16.5px;
  border-bottom-right-radius: 16.5px;
  border-bottom-left-radius: 16.5px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 16.5px;
  border-top-right-radius: 16.5px;
  border-bottom-right-radius: 16.5px;
  border-bottom-left-radius: 16.5px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 16.5px;
  border-top-right-radius: 16.5px;
  border-bottom-right-radius: 16.5px;
  border-bottom-left-radius: 16.5px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'DIN Alternate',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}